<form id="bundles-form">
  <div>
    <label for="group-1">Group 1</label>
    <select id="group-1" name="group-1">
    {% for product in collection.all.products %}
      {% if product.tags contains 'Group 1' %}
        {% assign variant = product.seleted_or_first_available_varaint %}
        <option>{{ product.title }} -- {{ variant.price | money }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </div>
</form>
{% schema %}
  {
    "name": "Bundle Builder",
    "settings": [],
    "presets": [
      {
        "name": "Bundle Builder"
      }
    ]
  }
{% endschema %}