{% assign metaobjects = product.metafields.product_faqs.product_faqs | json_parse %}

{% for item in metaobjects %}
    
    <h2>{{ item.answer }}</h2>
{% endfor %}


{% schema %}
    {
        "presets": [
            {
                "name": "Product Faqs"
            }
        ]
    }
{% endschema %}