{% assign faqs = product.metafields.custom.product_faqs_qa.value %}
  <div class="product-faqs">
    <h2>Frequently Asked Questions</h2>
    <ul>
      {% for faq in faqs %}
        <details {% if forloop.first %}open{% endif %}>
          <summary>
            <h3 class="faq-question">{{ faq.question.value }}</h3>
          </summary>
          <div class="content">
            {{ faq.response | metafield_tag }}
          </div>
        </details>
      {% endfor %}
    </ul>
  </div>
  
{% schema %}
    {
        "presets": [
            {
                "name": "Product Faqs"
            }
        ]
    }
{% endschema %}