{% assign faqs_metafield = product.metafields.custom.product_faqs %}

{% if faqs_metafield %}
    <div class="product-faqs">
      <h2>Frequently Asked Questions</h2>
      <ul>
        {% for faq_reference in faqs_metafield.value %}
            {% assign faq_object = shop.metaobjects.product_faqs[faq_reference] %}
            <li class="faq-item" data-test="{{ faq_reference }}">
              <h3 class="faq-question">{{ faq_object.fields.faq_question.value }}</h3>
              <p class="faq-answer">{{ faq_object.fields.answer.value }}</p>
            </li>
          {% endfor %}
      </ul>
    </div>
  {% else %}
    <p>No FAQs available for this product.</p>
  {% endif %}
  
{% schema %}
    {
        "presets": [
            {
                "name": "Product Faqs"
            }
        ]
    }
{% endschema %}