{% assign faqs = product.metafields.custom.product_faqs_qa.value %}
  <div class="product-faqs">
    <h2>Frequently Asked Questions</h2>
    <ul>
      {% for faq in faqs %}
        <li class="faq-item">
          <h3 class="faq-question">{{ faq.question.value }}</h3>
          <p class="faq-answer">{{ faq.answer.value }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
  
{% schema %}
    {
        "presets": [
            {
                "name": "Product Faqs"
            }
        ]
    }
{% endschema %}