{% assign faqs = product.metafields.product_faqs.values %}

<h2>{{ faqs }}</h2>

{% schema %}
    {
        "presets": [
            {
                "name": "Product Faqs"
            }
        ]
    }
{% endschema %}