{% assign metaobjects = product.metafields %}
<h2>{{ metaobjects }}</h2>



{% schema %}
    {
        "presets": [
            {
                "name": "Product Faqs"
            }
        ]
    }
{% endschema %}