{% assign metaobjects = product.metafields.custom.product_faqs.values %}
{% for meta in metaobjects %}
    <h2>{{ meta }}</h2>
{% endfor %}



{% schema %}
    {
        "presets": [
            {
                "name": "Product Faqs"
            }
        ]
    }
{% endschema %}