{% assign faqs_metafield = product.metafields.custom.product_faqs.value %}

{% if faqs_metafield %}
  <div class="product-faqs">
    <h2>Frequently Asked Questions</h2>
    <ul>
      {% for faq_reference in faqs_metafield %}
        <li class="faq-item">
          <h3 class="faq-question">{{ faq_reference.Faq_question }}</h3>
          <p class="faq-answer">{{ faq_reference.answer }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <p>No FAQs available for this product.</p>
{% endif %}

  
{% schema %}
    {
        "presets": [
            {
                "name": "Product Faqs"
            }
        ]
    }
{% endschema %}